language: node_js
sudo: required
dist: trusty
node_js: lts/*
addons:
  chrome: stable
  firefox: latest
cache:
  directories:
    - node_modules
git:
  depth: 1
before_install:
  - google-chrome-stable --headless --disable-gpu --remote-debugging-port=9222 http://localhost &
install:
  - npm i -g polymer-cli@next
  - npx polymer install
before_script:
  - npm i -g eslint eslint-config-prettier eslint-plugin-prettier prettier
  - npm run lint
script:
  - xvfb-run npm polymer test
notifications:
  email:
    on_success: never
    on_failure: always
env:
  - MOZ_HEADLESS=1
  global:
  - secure: mf/TR9Ma3/Q/p5fVRAJ0t+4GsuEVcxrgfg3b8WTI4oHrwzIsvUUipp8DVHwqn4bb0diuWCaEXUVv+b39aRDxbh4P90CqOVOD5LntJiWO+I4jzExHPrVSGc2lKfSKU3warG4W5FCSvRVCuv010aBBG94ixTBhoray2bbmGD9u+xUJ/kstOgnYDzhMPFzgeSQPd+FpxYvY3RzlcXWoMssBi2LkzNh2KasaM16XVoCVm93eIa+X+Faqy16KyLYJIcAao5HrZ/tjEZ1VokW6J39i/t9Bv7XgIYZtGSxpxjXoCqmKximXtg8TdcuauvlbMmEx+hW73/VSv1IhaoIegT02us60xXith861AFJNpauimIySDQRlT2/X43J6ZCBMubqyd8ubwOT2iQuwxUp/+nPRVr4SXYjR81loOmOZbvK1u+IeBnXjPSC4IaeyPUHAEn7XZCAk6tDVquXQ4uzL94CICGx33umknjQhHaVSRMFLqPvwnBYsp0Zgsk+MJ3lUF+WKVcw532Nfn179dktJU7JJ/fUvxmYMkU939hO3AeBcYea0Uv2+hGhvJ2dglrZBFsO54aihBO3G82VS+T1V0jts9x36SroZYgHJaWCU3FmBE3QIABOvXv2mAJ5aNSYcqqC729/WIgHcpL/r/InWTOEI/Dw/2BZCT7ZqbtnFeyqt4pk=
  - secure: ucK6Myc8YUP/XDLHrgxiIyZqf1K/Z5lZBaoc59fX2PbYDBsZH7MbUcUSzAY7El+UcUXBI/4DYZ8drtVjTj5C9ta6BQQ8Z9bFedwUSoNiqcBiQdF8tB8tLI3tsRWxfXQPG3+IMqqR5QpfGqPb3RU7myWIKGr8/3w3td0KeFQxGIsRUXAHbUydPsYDROeevfAuVkLwV8nTHnY5IChBi2uvSbERCRowf/CuGxTqfw0PRqJbu0dxjbfJpO2Dr1d9lJ2b/Tlnu5c7QkyFAlesHSrDf4eaAtk4TXaQ7wKsSyv9mFWLOTztKheGquzu2zZLKY3YRgyAa2iCrUSnGntFWbGVrrLR5f5kahVAovT014W5gxOOAlLr+TRBY5Hhndu6SUEShSannvvMCivnoYlJMeI0I4dRKKNUTaV9UuGWc7bnwrcfjvCkiscBqZHgczdmUtx0rrrUeC7xqVkCqjCCW4pNj/Lf0GMSJDiBh0423eiD5//1ptOlUdSc1vedj0jZf/dwNEb13+SSbYpSnkoAmWCXW+HpH3fcy8rC4BQgxHabqZygOuY53uHMoP1NXBr5zCbwv1RD7VshdLHgHr+KGftHdzTkvsdr5ZctMdAV2Q3uYivtn0hXfrtbf7jD9tlN+vmTGHPFKSulWQHF+DbFlzpGHP3PESCNdMWsUmhAYbnYzYg=
